<div class="container">
  <div class="panel-heading">
    <div class="panel-title text-center">
      <!-- <h1 class="title" ><b>To Do List</b></h1>-->
      <img src="../../../assets/images/PlanWay-logo.jpeg" width="300">
      <hr />

    </div>
  </div>
  <div class="main-login main-center">
    <p style="color:red; font-family:'Trebuchet MS';font-size:100%;">{{message}}</p>
    <form class="form-horizontal">
      <div class="form-group">
        <label for="name" class="cols-sm-2 control-label">Your Name</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" [(ngModel)]="name" name="name" id="name"  placeholder="Enter your Name"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="cols-sm-2 control-label">Password</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
            <input type="password" class="form-control" [(ngModel)]="password" name="password" id="password"  placeholder="Enter your Password"/>
          </div>
        </div>
      </div>

      <div class="form-group ">
        <button type="button" (click)="login($event)" class="btn btn-primary btn-lg btn-block login-button">Login</button>
      </div>
      <div class="form-group ">
        <button type="button" (click)="register($event)" class="btn btn-primary btn-lg btn-block login-button">Register</button>
      </div>
      <div class="form-group ">
        <button type="button" (click)="admin($event)" class="btn btn-warning btn-lg btn-block login-button">Admin Login</button>
      </div>
    </form>

  </div>
</div>

