<app-navbar></app-navbar>

<div class="params" [hidden] = "emptyTasks"  class="init">
  {{removeInit()}}

  <div  class="col-md-4 col-md-offset-1">
    <div *ngFor="let user of tasks  | filter: searchName1">
      <fieldset>
        <legend>
          {{user.name}}
          <input type="button" (click)="editUser(user.mid)" value="Edit" class="btn btn-default">
        </legend>
        <div *ngFor="let dest of user.destinations">
          <div>
            <input type="checkbox" [checked]="dest.isDone" disabled>
            <label>{{dest.name}}</label>
          </div>
        </div>
      </fieldset>
      <br>
    </div>
  </div>

  <div class="pie">
    <div #containerPieChart></div>
  </div>
  <div  class="col-md-10 col-md-offset-1">
    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
      <div *ngFor="let location of locations">
        <agm-marker [latitude]="location.lat" [longitude]="location.lng" [iconUrl]="'../../../assets/images/track2.png'">
          <agm-info-window>{{location.name}}</agm-info-window>
        </agm-marker>
      </div>
    </agm-map>
  </div>
</div>





<div class="init" id ="init" >
  <div id="square"></div>
  <div class="center">
    <div class="img-with-text">
      <img class="col-md-8" src="../../../assets/images/welcome.png">
      <p class="col-md-8"><b>With us you can optimize the allocation of your drivers destinations!
        <br>
        <br>So let's get start!!!</b></p>
    </div>



    <div class="container">
      <div class="row bs-wizard" style="border-bottom:0;">
        <div class="col-xs-3 bs-wizard-step complete">
          <div class="text-center bs-wizard-stepnum">Step 1</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a [routerLink] = "['/user-management',this.mid]" class="bs-wizard-dot"></a>
          <div class="bs-wizard-info text-center">Define Your Drivers</div>
        </div>

        <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
          <div class="text-center bs-wizard-stepnum">Step 2</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a [routerLink] = "['/destinations',this.mid]" class="bs-wizard-dot"></a>
          <div class="bs-wizard-info text-center">Define Your Destinations</div>
        </div>

        <div class="col-xs-3 bs-wizard-step active"><!-- complete -->
          <div class="text-center bs-wizard-stepnum">Step 3</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a [routerLink] = "['/clustering',this.mid]" class="bs-wizard-dot"></a>
          <div class="bs-wizard-info text-center">Divide your tasks for today to your drivers in a smart way!</div>
        </div>
      </div>
    </div>
  </div>
</div>


