<app-navbar></app-navbar>
<div  class="col-md-4 col-md-offset-1">
  <div *ngFor="let user of tasks  | filter: searchName1">
    <fieldset>
      <legend>
        {{user.name}}
        <input type="button" (click)="editUser(user._id)" value="Edit" class="btn btn-default">
      </legend>
      <div *ngFor="let dest of user.destinations">
        <div>
          <input type="checkbox" [checked]="dest.isDone" disabled>
          <label>{{dest.name}}</label>
        </div>
      </div>
    </fieldset>
    <br>
  </div>
</div>

<div class="pie">
  <div #containerPieChart></div>
</div>


<div  class="col-md-10 col-md-offset-1">
  <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
    <div *ngFor="let user of tasks">
      <agm-marker [latitude]="user.latitude" [longitude]="user.longitude" [iconUrl]="'../../../assets/images/track2.png'">
        <agm-info-window>{{user.name}}</agm-info-window>
      </agm-marker>
    </div>
  </agm-map>
</div>
