
@font-face {
  font-family: myFirstFont;
  src: url("../../../assets/DKHeadlock.otf");
}
h1.title {
  font-size: 50px;
  font-family: myFirstFont;
  font-weight: 400;
  text-shadow: 2px 2px 8px;

}
.newspaper {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
}

#section1{
  float:right;
  width:75%;
  border:1px solid
}
aside{
  float:left;
  width: 20%;
}

footer{
  float: right;
}

#contact {
  width:70%;
  float:right;
  border: 2px solid blue;
  padding: 10px;
  border-radius: 25px;
}
