<app-navbar [id]="id"></app-navbar>
<article>
  <header dir="rtl">
    <div class="panel-title text-center">
      <h1 class="title" ><b>About Us</b></h1>
      <hr />

    </div>
  </header>
  <div class="container">
    <section id="section1">
      <br>
      <p dir="rtl">
        <b> איך לעבוד עם רשימת משימות?</b>
      </p>
      <br>
      <div class="newspaper" dir="rtl">
        <p dir="rtl">
          בחרו מבין שיטות הניהול הידועות: שיטת ABC הקלאסית, שיטת GTD החדשנית או שיטת DIT המרדנית.
          <br>
          אנשים יעילים עובדים מתוך רשימות. כולנו נוטים לשכוח דברים, אבל רשימות נשארות במקום שבו הניחו אותן, מזכירות בקנאות את כל מה שיש לעשות, ומצביעות על הדבר הדחוף ביותר כרגע. כמו עוזר אישי טוב. מי שפועל בעקביות לפי רשימות, יהפוך בקלות לאחד האנשים היעילים ביותר בסביבתו. ומי שמתקשה לנהל את עצמו בעזרת רשימת משימות, כנראה פשוט לא הכיר את שיטת ניהול הרשימות המתאימה לו ביותר.
        </p>
        <p>
          <b>שיטת ABC הקלאסית</b>
          שיטת ניהול המשימות הנפוצה בעולם, שהוצגה לראשונה ב־1974 בספר "איך להשתלט על הזמן ועל החיים" מאת אלן לאקיין, ומאז נלמדה במאות קורסי קריירה. כוחה של השיטה הוא בפשטותה.
          1. כתבו בקצרה את כל הדברים שעליכם לעשות היום. רצוי להכין את הרשימה בערב לפני.
          2. ליד כל משימה כתבו את האות א', ב' או ג'. את האות א' כתבו רק ליד המשימות הדחופות - אלה שאי־ביצוען יגרור השלכות חמורות. אם יש כמה משימות כאלה, מספרו אותן לפי הדחיפות: א'1, א'2, א'3 וכך הלאה. את האות ב' כתבו ליד משימות חשובות אחרות, אבל שאינן דחופות כמו משימות הא'. מספרו גם אותן. לבסוף, כתבו ג' ליד דברים שכדאי לבצע, אבל שאינם דחופים.
          3. התחילו במשימה א'1, ואל תקומו ממקומכם לפני שתושלם. ואז עברו לא'2. לעולם אל תתפתו להסיח את דעתכם עם משימה מתחתית הרשימה לפני שהשלמתם את מה שבראשה.
        </p>
        <p>
          <b>שיטת GTD החדשנית</b>
          נחשבת לשיטה היעילה מכולן. יוצרה דיוויד אלן טוען שאנשים מתקשים להתמיד עם רשימות משימות "רגילות" משום שמוחם טרוד בכל הדברים הקטנים שלא כתבו ברשימה. הפתרון הוא ליצור רשימת משימות שמכילה את כל הטרדות כולן - מהכנת מצגת לעסקת ענק ועד לקניית סיגריות.
          1. הכינו מגשית פלסטיק, ורכזו בה את כל הדברים שדורשים מכם התייחסות. הסתובבו עם פנקס וכתבו בו כל משימה, מחשבה ודבר שברצונכם לזכור, ובסוף היום תלשו את דפיו והכניסו למגשית.
          2. מדי כמה ימים גשו אל המגשית. בחנו כל פריט, והחליטו אם הוא דורש מכם לבצע פעולה כלשהי, ואם כן איזו. את הפעולות נסחו בראשכם כפעולות פיזיות - להתקשר ל..., ללכת ל..., לקרוא את... - ומשניסחתם אותן, כתבו אותן על דף.
          3. מיינו את רשימת הפעולות לפי המקום שבו יש לבצע אותן: מה מיועד לביצוע בבית, מה בעבודה, מה בטלפון, מה במחשב, וכך הלאה. רשמו אותן בטבלה שבראש כל עמודה בה כתוב המקום לביצוע.
          4. פעם בכמה ימים קראו את הרשימה, מה שיבטיח שבפעם הבאה שתרימו את הטלפון, תבקרו בסופר או תדליקו את המחשב - תזכרו מיד מה עליכם לעשות.
        </p>
        <p>
          <b>שיטת DIT המרדנית</b>
          לטענת מארק פורסטר, שיצר בשנת 2006 את שיטת DIT (ראשי תיבות של Do It Tomorrow, "עשה זאת מחר"), עבודה לפי רשימות מטלות סותרת את האופי האנושי. לטענתו, הדרך להישאר ממוקדים ולהספיק יותר היא לא לעבוד לפי דף, אלא לתת למשימות לחלחל לתודעה.
          1. בסוף כל יום רשמו על דף את כל המטלות שלא הספקתם, במילותיכם ובסדר שבו חשבתם עליהן.
          2. קראו שוב את הרשימה, לאט, רשמו מחדש זו לצד זו מטלות שקשורות זו לזו. בשלב זה מוחכם יתחיל לעבד את המידע, מה שיקל עליכם לבצע את המטלות כשתגיעו אליהן.
          3. בבוקר הבא קראו שוב את הרשימה ובחרו אינטואיטיבית במשימה אחת. לפי השיטה, המשימה הזו היא כנראה החשובה ביותר עבורכם, ואתם תגיעו אליה מוכנים יותר מכפי שהייתם אם הייתם נעזרים ברשימת מטלות רגילה. נסו להשלים את כל המשימות עד הערב, ואת מה שנותר - עשו מחר.
        </p>
        <br>
        <br>
      </div>
      <div class="panel-title text-center">
        <video id="video1" controls width="270" autoplay loop="true">
          <source src="../../../assets/giphy.mp4" type='video/mp4'>
        </video>
      </div>
    </section>

    <aside>
      <a target="_blank" href="http://www.booked.net/weather/rishon-leziyyon-w257857">
        <img src="https://w.bookcdn.com/weather/picture/4_w257857_1_1_5e99d9_160_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=2&domid=&anc_id=7839"  alt="booked.net"/>
      </a>
      <br><br><br><br>


        <label for="comment">Enter your review and tweet it:</label>
        <textarea class="form-control" rows="10" id="comment" [(ngModel)]="text"></textarea>

      <!--<button id="twitter"(click)="postTweet($event)" width="20" height="20">
        <img src="../../../assets/images/Twitter-logo.jpg" width="30" height="30">
      </button> -->

      <a id="twitter"(click)="postTweet($event)" width="20" height="20">
        <img src="../../../assets/images/Twitter-logo.jpg" width="30" height="30">
      </a>

    </aside>
  </div>
  <br>
  <section id="contact" dir="rtl">
    <span class="glyphicon glyphicon-earphone"></span>
    צרו איתנו קשר 03-5338909
    <br>
    אנחנו יושבים ברחוב אלי ויזל 2, ראשון לציון
  </section>
  <br>
  <br>
  <footer>"המטרה של ארגון היא לאפשר לאנשים רגילים לעשות דברים בלתי-רגילים"</footer>
</article>
